:root{
    --ferst-color:#10cab7;
    --two-color:#2c4755;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "work sans", sans-serif;
}
/* header the page */
.continar{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small*/
@media (min-width:768px){
    .continar{
        width: 750px;
    }
    
}
/*medium*/
@media (min-width:992px){
    .continar{
        width: 970px;
    }
}
/*large*/
@media (min-width: 1200px){
    .continar{
        width: 1170px;
    }
}
.header{
    padding: 20px;
}
.header .continar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo_1{
    width: 60px;
}
.header .link{
    position: relative;
}
.continar svg:hover{
    background-color: var(--ferst-color);
    border-radius: 6px;
}
.link ul{
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    background-color: rgb(237, 237, 237);
    top: calc(100% + 20px);
    padding-left: 0px;
    display: none;
    z-index: 1;
}
.link:hover ul{
    display: block;
}
.link ul::before{
    content: "";
    border-color: transparent transparent rgb(237, 237, 237) transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -20px;
    right: 5px;
}
.link ul li a{
    
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
.link ul li a:hover{
    padding-left: 25px;
}
.link ul li:not(:last-child) a{
    border-bottom: 1px solid;
}
/* ading section */
.landing{
    background-image: url(../img/balint-wittinger-IOaNXOfPW6U-unsplash.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    
    
}
.intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--ferst-color);
    
}
.intro-text{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50% , -50%);
   text-align: center;
   width: 320px;
   max-width: 100%;
}
.intro-text p{
    font-size: 19px;
    line-height: 1.8;
   
    
}
.continar{
   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat{
    text-align: center;
    padding: 40px;
}
.features .feat i {
    
    color: var(--ferst-color);
}
.features .feat h3{
   font-weight: 800;
   margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 16px;
}
/*services*/

.special-heading{
    font-weight: 800;
    font-size:100px ;
    color: #ebeced;
    text-align: center;
    letter-spacing: -5;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
       
    }
}
.services{
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 30px;
    justify-content: center;
    padding-top: 60px;
    margin: auto;
    width: 80%;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 30px;

}
@media (max-width:767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--ferst-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
    font-size: 13px;
    
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .col .image::before {
    content: "";
    background-color:var(--two-color);
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
}
.services .services-content .srv .image img {
    width: 240px;
}
@media (max-width:1199px){
    .services .services-content .image{
        display: none;
    }
}
/*portfolio*/
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding-top:60px ;
    width: 80%;
    margin: auto;
}
.portfolio .portfolio-content .card {
    background-color: white;
     
}
.portfolio .portfolio-content .card img {
    width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* about*/
.about {
    padding-top: 60px;
    padding-bottom: 120px;
}
.about-content {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    border-left: 80px solid var(--ferst-color);
    border-bottom: 80px solid var(--ferst-color);
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    z-index: -1;
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text{
    flex-basis:calc(100% - 500px) ;
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--ferst-color);

}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image::before, 
    .about .about-content .image::after {
        display: none;
    }
    .about .about-content .image{
        margin: 30px auto;
        
    }
}
/* contact*/
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: var(--ferst-color);
}
.contact .info .social {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--two-color);
}
@media (max-width:767px){
    .contact .info .label,
    .contact.info .link {
        font-size: 25px;
    }
    
}
/*footer*/
.footer {
    background-color: var(--two-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
font-weight: bold;
color: var(--ferst-color);

}